<h1>Listing meds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Strength</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meds.each do |med| %>
      <tr>
        <td><%= med.name %></td>
        <td><%= med.strength %></td>
        <td><%= link_to 'Show', med %></td>
        <td><%= link_to 'Edit', edit_med_path(med) %></td>
        <td><%= link_to 'Destroy', med, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Med', new_med_path %>
