<h2>Create an Account</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, :autofocus => true %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :cell_phone %>
  <%= f.input :dob, label: 'Date of Birth' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <% resource.build_address unless resource.address %>
  <%= f.fields_for :address do |builder| %>
    <%= render "shared/address", f: builder %>
  <% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
