<div id="sign_in">
  <h2>Sign in</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    </div>
    <br />
    <div class="form-actions">
      <%= f.button :submit, "Sign in" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

<div id="sign_up">
  <h2>Create an Account</h2>
  <ul>
    <li>Want to see how good you're doing with taking your meds?</li>
    <li>Want to know how your medications are affecting you?</li>
  </ul>
  <%= link_to "Create an Account", new_registration_path(resource_name) %><br />
  <br />
  <%= link_to "Purchase your Medication Tracker", '#' %><br />
</div>
