<%= simple_form_for(@users_med) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :med_id, collection: Med.all %>
    <%= f.input :freq, label: 'Frequency', collection: Med::FREQUENCIES %>
    <%= f.input :freq_unit, label: 'Frequency Unit', collection: Med::FREQUENCY_UNITS %>
    <%= f.input :num_per_dose, label: 'Number per dose' %>
    <%= f.input :start, label: 'Start Date/Time' %>
    <%= f.input :num_doses, label: 'Number of doses' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Create Medication' %>
  </div>
<% end %>
