<h1>My Medications</h1>

<table>
  <thead>
    <tr>
      <th>Medication</th>
      <th>Frequency</th>
      <th>Frequency Unit</th>
      <th>Number per dose</th>
      <th>Start Date/Time</th>
      <th>Number of doses</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users_meds.each do |users_med| %>
      <tr>
        <td><%= users_med.med %></td>
        <td><%= users_med.freq %></td>
        <td><%= users_med.freq_unit %></td>
        <td><%= users_med.num_per_dose %></td>
        <td><%= users_med.start %></td>
        <td><%= users_med.num_doses %></td>
        <td><%= link_to 'Show', users_med %></td>
        <td><%= link_to 'Edit', edit_users_med_path(users_med) %></td>
        <td><%= link_to 'Destroy', users_med, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medication', new_users_med_path %>
