<h1>My Medications</h1>

<% if @users_meds.blank? %>

  <p>You are not currently tracking any medications</p>

<% else %>

  <table border="1">
    <thead>
      <tr>
        <th></th>
        <th>Medication Name and Strength</th>
        <th>Directions</th>
        <th>Dose(s) Target Administration Times</th>
        <th>On Time Window</th>
        <th>Days Left Until Out</th>
        <th>Date Started</th>
        <th>Refill My Prescription</th>
      </tr>
    </thead>
    <tbody>
      <% @users_meds.each_with_index do |users_med, index| %>
        <tr<%= raw ' class="odd"' if index.odd? %>>
          <td width="8%"><%= link_to 'Edit', edit_users_med_path(users_med) %> <%= link_to 'Remove', users_med, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td width="15%"><%= users_med.med %></td>
          <td width="15%"><%= users_med.freq %> <%= users_med.freq_unit %></td>
          <td width="30%">1st Dose: <%= hour_minute_ampm(users_med.first_dose) %></td>
          <td width="8%">+/- <%= users_med.window %> min</td>
          <td width="8%"><%= %></td>
          <td width="8%"><%= short_month_day_year(users_med.start) %></td>
          <td width="8%"><%= button_to 'refill', 'http://www.cvs.com' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br>

<%= link_to 'Add a Medication', new_users_med_path %>
