<!DOCTYPE html>
<html>
<head>
  <title>MyHealtheNetwork</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "shared/header" %>

  <% if flash[:notice] %><p class="message notice"><%= notice %></p><% end %>
  <% if flash[:alert] %><p class="message alert"><%= alert %></p><% end %>

  <section id="main">
    <%= yield %>
  </section>

  <%= render 'shared/footer' %>

</body>
</html>
